* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    background-color: rgb(37, 39, 36);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    max-width: 1300px;
    text-align: center;
    border: 1px white solid;
    background-color: rgb(29, 29, 29);
    margin-top: 5%;
    box-shadow: rgba(229, 253, 124, 0.35) 0px 5px 10px;
}

.listcontainer {
    display: grid;
    margin-bottom: 10%;
    position: relative;
    margin-top: 2px;
    font-size: 25px;
    color: white;
    max-width: 1300px;
    height: fit-content;
}

.btnG {
    max-width: 1300px;
    background-color: rgb(29, 29, 29);
    height: 60px;
    margin-top: 0;
    border-top: none;
    border-bottom: 1px solid rgb(242, 243, 237);
    border-left: 1px solid rgb(239, 240, 234);
    border-right: 1px solid rgb(242, 243, 237);
    box-shadow: rgba(51, 50, 2, 0.35) 0px 10px 15px;
}

h1 {
    width: 95%;
    align-self: center;
    position: relative;
    margin-top: 1%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 400%;
    letter-spacing: 4px;
    color: yellow;
    transition: 0.5s ease;
}

h1:hover {
    border: 1px dotted yellow;

}

.keydow {
    color: red;
}

.second {
    display: flex;
}

.taskinput {
    position: static;
    height: fit-content;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 10px;
    max-width: 1000px;
    padding-left: 20px;
    border-radius: 2em;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid rgb(228, 252, 8);
    color: white;
    transition: 0.5s ease;
}

.taskinput::placeholder {
    letter-spacing: 2px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.btn {
    margin-top: 5px;
    border-radius: 10px;
    position: static;
    height: fit-content;
    max-width: 160px;
    width: 150px;
    padding: 10px 20px;
    margin-left: 30px;
    margin-right: 20px;
    color: rgb(228, 252, 8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s ease;
}

.btn:hover {
    box-shadow: rgba(228, 231, 46, 0.35) 0px 5px 10px;
    transform: scale(1.05);
}


.paras {
    max-width: 1300px;
    overflow-wrap: anywhere;
    background-color: rgb(29, 29, 29);
    margin-top: 30px;
    padding: 2%;
    border: 1px solid rgb(197, 241, 38);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;

}

.para2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.one {
    font-weight: 400;
    color: rgb(192, 241, 13);
    background-color: rgb(36, 39, 12);
    text-align: center;
    padding: 10px;
    font-size: 20px
}

.edit {
    padding: 5PX 10PX;
    margin-top: 1%;
    position: relative;
    margin-left: 2%;
    background-color: transparent;
    border-color: rgb(245, 128, 32);
    color: #f1f1c8;
    font-weight: 600;
    width: fit-content;
    height: 2em;
    font-size: 18px;
    transition: 0.2s ease-in;
}

.edit:hover {
    box-shadow: #f1f1c8 0px 5px 10px;
    transform: scale(1.05);
}

.taskdone {
    padding: 5PX 10PX;
    letter-spacing: 1px;
    margin-left: 3%;
    background-color: transparent;
    border-color: rgb(143, 235, 148);
    color: #f1f1c8;
    font-weight: 700;
    width: fit-content;
    height: 2em;
    font-size: 18px;
    transition: 0.2s ease-in;
}

.taskdone:hover {
    box-shadow: #f1f1c8 0px 5px 10px;
    transform: scale(1.05);
    transform: skew(4deg);
}

.delete {
    margin-top: 15px;
    padding: 5PX 10PX;
    letter-spacing: 1px;
    margin-left: 3%;
    background-color: transparent;
    border-color: rgb(235, 42, 42);
    color: #f1f1c8;
    font-weight: 700;
    width: fit-content;
    height: 2em;
    font-size: 18px;
    transition: 0.2s ease-in;
}

.delete:hover {
    box-shadow: #f1f1c8 0px 5px 10px;
    transform: scale(1.05);
}